* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

ul {
    list-style: none;
}



@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4F: #504F4F;
    --color_323232: #323232;
    --color_FFC300: #FFC300;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_F1F1F1: #F1F1F1;
}

.text_danger {
    color: var(--color_C90000);
}

.main_header {
    margin-top: 1rem;
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0 0.5rem;
}

.navgation {
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navgation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navgation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navgation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.navgation ul li a {

    font-weight: 500;
}

.link_navgation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

}

.link_navgation a:first-child {
    color: var(--color_C90000);
    font-weight: 400;

}

.link_navgation a:last-child {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

a {
    text-decoration: none;
}
.nav_menu_sidbar {
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: #E1F5FE;
    height: 100%;
    padding: 1rem;
    width: 25%;
    border-right: 1px solid var(--color_323232);
    transform: translateX(-384px);
    -webkit-transform: translateX(-384px);
    -moz-transform: translateX(-384px);
    -ms-transform: translateX(-384px);
    -o-transform: translateX(-384px);
    transition: all 220ms ease-in 100ms;
    -webkit-transition: all 220ms ease-in 100ms;
    -moz-transition: all 220ms ease-in 100ms;
    -ms-transition: all 220ms ease-in 100ms;
    -o-transition: all 220ms ease-in 100ms;
    
}
.nav_menu_sidbar li a:hover{
    font-size: 1.1rem;
    transition: font-size 250ms ease-in;
    -webkit-transition: font-size 250ms ease-in;
    -moz-transition: font-size 250ms ease-in;
    -ms-transition: font-size 250ms ease-in;
    -o-transition: font-size 250ms ease-in;
}
#input_menu:checked + label + ul {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
#input_menu:checked + label #close_icon {
    display: block;
    transition: all 220ms ease-in 100ms;
}
#input_menu:checked+label svg:first-child {
    display: none;
    transition: all 220ms ease-in 100ms;
}
#close_icon {
    display: none;
    transition: all 220ms ease-in 100ms;
}
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 834px) {
    .navgation {
        grid-template-columns: repeat(3, auto);
    }

    .navgation > ul {
        display: none;
    }

    .link_navgation {
        justify-self: center;
    }

    .menu__icon {
        justify-self: flex-end;
    }
    
}

@media only screen and (min-width: 835px) {


    .menu_icon {
        display: none;
    }
}